body {
    background-image: url(../images/grapes-of-wrath.jpg);
    background-size: cover;
    background-color: darkblue;
    
}
h1 {
    color: #ffffff;
    font-size: 2em;
    
}
p {
    color: #ffffff;
}
    